/* Messages icon section */
.section-message-icon { position: fixed; bottom: 20px; right: 40px; width: 64px; height: 64px; }
.message-icon-container { display: flex; position: relative; width: 100%; height: 100%; justify-content: center; align-items: center; background: #ccc; }

/* Messenger Section */
.section-message { position: fixed; bottom: 100px; right: 10px; display: flex; flex-direction: column; max-width: 300px; max-height: 400px; height: 100%; border: 10px solid #ccc; }
.section-message .section__head { margin-bottom: 10px; }
.section-message .section__body { flex: 1; overflow-y: scroll; }
.section-message .section__actions { margin-top: auto; }
.section-message .section__actions form { display: flex; }
.section-message .section__actions form input { flex: 0 0 70%; max-width: 70%; }
.section-message .section__actions form button { flex: 0 0 30%; max-width: 30%; }

/* Messages */
.messages { list-style: none; padding: 0 10px; }

.messages li { display: flex; width: 100%; margin-bottom: 20px; }
.messages li .avatar { flex: 0 0 15%; max-width: 15%; margin-right: 8px; margin-left: 0; width: 24px; height: 24px; border-radius: 50%; }
.messages li .entry { flex: 0 0 80%; max-width: 87%; margin: 0; padding-top: 5px; }
.messages li.reversed { flex-direction: row-reverse; }
.messages li.reversed .avatar { margin-right: 0; margin-left: 8px; }